<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<servlet-name>BlogServlet</servlet-name>
		<servlet-class>fr.avdv.blog.web.BlogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>fr.avdv.blog.web.IndexServlet</servlet-class>
		<init-param>
			<param-name>idCount</param-name>
			<param-value>3</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>fr.avdv.blog.web.ArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>fr.avdv.blog.web.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogServlet</servlet-name>
		<!-- c -->
		<url-pattern>/helloworld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<!-- c -->
		<url-pattern>/articles</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<!-- c -->
		<url-pattern>/add-article</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>